html,
body {
    height: 100%;
}


.homeBody {
    background: url("../images/homeBody.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#containers{
    min-height: 100%;
    position: relative;
}

/*********Navbar*******/

.navbar {

    position: relative;
    background-color: #92B558;
}

.nav-item>a {
    color: whitesmoke;
}

.navbar-brand {
    margin-left: 85px;
    font-size: 30px;
}

.nav {
    margin-right: 85px;
    font-size: 20px;
}

li {
    border-right: 1px solid whitesmoke;
    line-height: 60%;
}

li:last-child {
    border-right: none;
}

a:hover {
    color: grey;
}

/**************Main**************/

#search-btn {
    margin-top: 10px;
    background-color: #92B558;
    border: 1px solid #92B558;
}

#top-search-btn {
    margin-top: 10px;
    background-color: #92B558;
    border: 1px solid #92B558;
}

#trendingresults{
    margin-left: 20px;
    margin-top: 10px;
}

.card-header {
    background-color: #92B558;
    color: whitesmoke;


}

.card {
    border: 1px solid #92B558;
    margin-top: 32px;
    margin-bottom: 32px;
}

/*************Footer**********/

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #92B558
}

/********** Eat CSS *************/
.eatBody {
    background: url("../images/eatPage.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/************ Bar CSS ************/
.drinkBody {
    background: url("../images/drinkPage2.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/* added margin-left, padding, border, border-radius  -CP */
.bar-container {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding:30px;
    border: solid 1px #92B558;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px lightgray;
    
}
/* sub-heaading was turning gray so I changed it to white -CP */
h2, h3, h4  {
    color: white;
}

.acordHeader{
    color: black;
}

#barCard {
    background-color: rgb(245, 244, 244);
    
}

.barPhoto {
    width: 150px;
    height: auto;
    padding-right: 20px;
    /* padding-bottom: 10px; */

}

#barContainer {
    background-color: white;
    
}


/* increased font-size on bar title returns -CP */
#barTitle {
    font-size: 25px;
}

.input-group {
    /* margin-left: 10px; */
    margin-top: 31px;
    float: right;
}

#drinkMoreResultsButtons{
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 10px;
}

/********** Cook CSS ************/
.cookBody {
    background: url("../images/cook5.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.recipe-container {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* everything below added by -CP */
    padding: 30px;
    border: solid 1px #92B558;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px lightgray;
}

#recipeTitle {
    font-size: 25px;
}

/* added by -CP */
#recipeCard {
    background-color: rgb(245, 244, 244);
    
}

.recipePhoto {
    max-width: 150px;
    height: auto;
    padding-right: 20px;
    /* added by -CP */
   /* padding-bottom: 10px; */
}

/* adjusted padding and got rid of margin -CP */
#cookMoreResultsButtons{
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 10px;
}
/* #cookNextButton {
}
#cookPreviousButton{
} */

p {
    font-size: 25px;
    color: grey;
}
